@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    width:100%;
    height:60px;
    box-shadow:0 2px 10px rgba(0,0,0,0.5);
    background-color: #333;
    color:white;
    text-align:center;
}
.navigation{
    padding:10px 0;
}
.navigation h1{
    font-size:30px;
}
.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.policy-content{
    max-width:800px;
    border-radius:10px;
    margin:50px auto;
    padding:20px;
    background-color:#333;
    color:white;
    box-shadow:0 0 10px rgba(0,2,5,0.5);
}
.policy-content h1{
    font-size:28px;
    text-align:center;
    margin:10px 0;
}
.policy-content h2{
    font-size:23px;
    margin:10px 0;
}
.policy-content p{
    font-size:17px;
    line-height:1.1;
}