@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:"Roboto",serif;
    background-color:#121212;
}
.container{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.content{
    width:500px;
    background-color:#1F1B24;
    color:#FF0266;
    padding:20px;
    border-radius:10px;
}
.content h2{
    text-align:center;
    margin-bottom:20px;
    font-size:28px;
}
label{
    display:block;
    font-size:20px;
    margin-left:22px;
}
.content input{
    width:90%;
    padding:10px;
    margin:10px 22px;
    border:none;
    outline:none;
    border-radius:5px;
}
input:focus{
    border:2px solid #FF0266;
}
.btn{
    width:90%;
    padding:10px;
    margin:10px 22px;
    border:none;
    font-size:18px;
    border-radius:5px;
    background-color:#6200EA;
    transition:0.3s ease-in-out;
}
.btn:hover{
    background-color:#BB86FC;
    color:white;
    transition:0.3s ease-in-out;
}
@media (max-width:510px){
    .content{
        width:95%;
        margin-left:10px;
    }
    .content h2{
        font-size:20px;
    }
    label{
        font-size:16px;
    }
    .content input{
        margin-right:50px;
        font-size:14px;
    }
}